<div class="container main-container">
    <div class="row main_row">
        <div class="col">
            <h2 class="text-white">Hello, I am</h2>
            <h1 class="text-warning">SHREYA PATTEWAR</h1>
            <h2 class="text-white">Software Engineer</h2>

        </div>
        <div class="col">
            <img src="./assets/432.jpg" alt="" height="78%" width="78%">
        </div>
    </div>
    <div class="container p-5">
        <div class="row">
          <div class="col pt-10 d-flex justify-content-start align-items-center d-sm-none d-none d-md-block ">
            <img src="./assets/509.jpg" class="img-fluid" alt="" height="70%" width="70%">
          </div>
      
          <div class="col ps-5 pb-5 text-white">
            <h1 class="m-heading">Little Bit More About Me</h1>
            <p style="font-size: large; font-family: Baloo Tamma 2, cursive;">          
            Hello, I am a <b class="text-warning">Software Engineer</b>. I have completed my engineering from Vidyalankar Institute of Technology in the field of <b class="text-warning">Information Technology</b>
I am a <b class="text-warning"> rank holder</b> as I am having an aggregate score of <b class="text-warning">9.82</b> Along with academics I like to try new things and participate in extracurricular activities. 
            </p>
            <p style="font-size: large;">
              Me and my teammates have published a technical paper in an international conference and two short and crisp <b class="text-warning">courses on Udemy</b> , one on data science and another on Image processing. I am proficient in <b class="text-warning">Python</b> and love to code in Python. 
            </p>
          </div>
        </div>
      </div>
      
</div>

