<!-- <p>projects works!</p> -->
<link rel="stylesheet" type="text/html" href="projects.component.css">

<div class="container-fluid pb-2">
  <!-- <div class="row">
    <div class="col d-flex justify-content-center pb-2">
      <div class="card align-items-center m-auto d-inline-block" style="margin-left: 200; margin-right: auto;">
        <h2 class="text-dark" style="text-align: center;">PROJECTS</h2>
      </div>
    </div>
  </div> -->
  <h1 class="text-warning mb-3 pb-2 ps-5 pt-5">My Projects</h1>
  
    <div class="row">
      <div class="col d-flex justify-content-center" *ngFor="let l of projects">
        <div class="card m-2 border-2 border-secondary" style="width: 20rem;">
          <img class="card-img-top" src="{{l.image_location}}"  alt="Card image cap" height="200px">
          <div class="card-body d-flex flex-column">
              
            <h5 class="card-title text-center"><b>{{l.name}}</b></h5>
            <p class="card-text">{{l.description}}</p>
            <p class="card-text"><b>Technologies Used: </b>{{l.technologies}}</p>
            <div class="pb-3 d-flex justify-content">
                <a *ngIf="l.project_url.length != ''" href="{{l.project_url}}" target="_blank" class="btn btn-warning">See Project</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-6 d-flex justify-content-center">
        <div class="card" style="width: 20rem;"">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Heading 2</h5>
            <p class="card-text">some text</p>
            <a href="#" class="btn btn-primary">a button</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  