<!-- <p class="text-white">contact works!</p> -->
<link rel="stylesheet" type="text/html" href="contact.component.css" />

<div id="social-media" class="container-fluid">
  <div class="container text-white py-5">
    <h4 class="text-warning">Contact</h4>
    <h1 class="m-heading">Connect with me here</h1>
    <div class="row pt-5 d-inline d-flex justify-content-end align-items-center">
      <div
        class="col media_link btn"
        href="https://www.linkedin.com/in/shreya-pattewar/"
      >
        <a
          href="https://www.linkedin.com/in/shreya-pattewar/"
          target="_blank"
          style="text-decoration: none"
        >
          <div class="row">
            <div class="col-6 d-flex justify-content-start d-inline align-items-center">
              <h3 class="m-0 text-white">LinkedIn</h3>
            </div>
            <div class="col-6 d-flex d-inline justify-content-end align-items-center">
              <i class="fab fa-linkedin-in fa-2x text-white" ></i>
            </div>
          </div>
        </a>
      </div>

      <div
        class="col media_link btn"
        href="https://github.com/shreyapattewar1999"
      >
        <a
          href="https://github.com/shreyapattewar1999"
          target="_blank"
          style="text-decoration: none"
        >
          <div class="row">
            <div class="col-6 d-flex justify-content-start d-inline align-items-center">
              <h3 class="m-0 text-white">Github</h3>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <i class="fab fa-github fa-2x text-white"></i>
            </div>
          </div>
        </a>
      </div>
      <!-- mailto:email-to@shreya.pattewar1999@gmail.com?subject=subject&cc=cc@shreya.pattewar1999@gmail.com -->
      <div class="col media_link btn" href="mailto:email-to@shreya.pattewar1999@gmail.com">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=shreya.pattewar1999@gmail.com" target="_blank"
        style="text-decoration: none">
        <div class="row">
          <div class="col-6 d-flex justify-content-start d-inline align-items-center">
            <h3 class="m-0 text-white">Email</h3>
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <i class="fas fa-envelope fa-2x text-white"></i>
          </div>
        </div>
    </a>
      </div>
    </div>
  </div>
</div>
<!-- // "outputPath": "dist/portfolio", -->

