.navigation-link{
    border: 2px solid transparent;
}

.navigation-link:hover{
    text-decoration: none;
    border-bottom: 3px solid #f5ba09;
    transition: 0.2s ease;
    font-size: larger;
    transform: scale(1.2);
}