<nav class="navbar">

</nav>
<div class="container pt-3">
  <div class="row">
    <div class="col d-flex justify-content-start align-items-center">
      <i class="fas fa-code fa-2x text-warning pb-2"></i>
      <h5 class="text-white d-inline ps-2">Portfolio</h5>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <a routerLink="/about" class="text-white navigation-link">About</a>          
        </div>

        <div class="col">
          <a routerLink="/projects" class="text-white navigation-link">Projects</a>

        </div>
        
        <div class="col">
          <a routerLink="/achievements" class="text-white navigation-link">Achievements</a>

        </div>

        <div class="col">
          <a routerLink="/skills" class="text-white navigation-link">Skills</a>
        </div>
<!-- 
        <div class="col">
          <a routerLink="/contact" class="text-white navigation-link">Contact</a>
        </div> -->
        
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

<app-contact></app-contact>