@media only screen and (max-width:400px){
    .star{
        font-size: 1.5rem;
        color: #ffc107;
    }
    
}

@media only screen and (max-width:340px){
    .star{
        font-size: 1rem;
        color: #ffc107;
    }
    
}
.row{
    display: flex;
    /* align-items: center; */
}
body{
    background-color: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
}

.m-heading{
    font-family: "Roboto Slab", sans-serif;
}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

ngb-rating {
    font-size: 32px;
    color: #ffc107;
  }

