<div style="height: 100vh">
  <div class="container pt-5 ps-7 pe-7">
    <div *ngFor="let r of skillset">
      <div class="row pt-2 mb-3 ps-5 pe-5 ms-5 me-5 border border-white">
        <div
          class="col align-self-center"
          style="text-align: justify; font-family: Baloo Tamma 2, cursive"
        >
          <h4 class="text-white">{{ r.name }}</h4>
        </div>
        <div class="col align-self-center pb-2">
          <ngb-rating class="star" [rate]="r.rate"></ngb-rating>

          <!-- <div class="progress">
            <div
              class="progress-bar bg-warning text-dark"
              role="progressbar"
              style="width: {{ r.rating }};"
              aria-valuenow=""
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ r.rating }}
            </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
