@media only screen and (max-width:400px){
    .enlarge{
        
        height: 100%;
        width: 100%;
    }
    h5{
        font-size: 12.5px;
        text-align: justify;
    }
    
    h3{
        font-size: 16px;
        text-align: justify;

    }
}

.main-container{
    padding-top: 5px;
    /* min-height: 100vh; */
}



.decoration{
    text-decoration: underline white;
}
